---
const pageTitle = "À propos de moi";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{pageTitle}</title>
    </head>
    <body>
        <div class="h-screen">
        <header class="flex w-full fixed py-10 px-20">
            <div class="w-1/2">
                <a href="/">Accueil</a>
            </div>
            <div class="flex w-1/2 justify-end">
                <a href="/blog/">Mes projets</a>
            </div>
        </header>
        <section class="flex flex-col h-full justify-center items-center font-dmsans font-medium">
            <p>Mes études</p>

        <p>
            Ce site se mettra à jour au fur et à mesure que je compléterai
            davantage le tutoriel, alors revenez régulièrement voir comment se
            déroule mon parcours !
        </p>
        </section>

        </div>
    </body>
</html>
