---
const pageTitle = "À propos de moi";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DynaPuff:wdth,wght@75..100,400..700&display=swap"
			rel="stylesheet"
		/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{pageTitle}</title>
    </head>
    <body>
        <div class="h-screen">
            <header class="flex w-full fixed py-[2%] px-[5%]">
				<div class="w-1/2">
					<a class="font-dmsans font-medium" href="/"
						>ACCUEIL</a
					>
				</div>
				<div class="flex w-1/2 justify-end">
					<a class="font-dmsans font-medium" href="/blog/"
						>MES PROJETS</a
					>
				</div>
			</header>
        <section class="flex flex-col pt-32 items-center font-dmsans font-medium">
            <h1 class="font-dynapuff font-black ">ABOUT ME</h1>
            <div>

            </div>




       
        </section>

        </div>
    </body>
</html>
