---
const pageTitle = "À propos de moi";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{pageTitle}</title>
        <link
            href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />
        <style>
            /* Curseur personnalisé */
            .custom-cursor {
                --left: calc(var(--mouse-x) - 10px);
                --top: calc(var(--mouse-y) - 10px);
                width: 30px;
                height: 30px;
                background-color: black;
                translate: var(--left) var(--top);
                transition: 0.1s ease-out;
                border-radius: 100%;
                position: absolute;
            }

            .up-effect {
                transition: transform 0.3s ease;
            }
            .up-effect:hover {
                transform: translateY(-5px);
            }

            .scale-effect {
                transition: transform 0.3s ease;
            }
            .scale-effect:hover {
                transform: scale(1.1);
            }

        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{pageTitle}</title>
    </head>
    <body class="">
        <!-- <div class="custom-cursor"></div> -->
        <header
            class="border-b-2 border-black py-7 px-14 text-black w-full font-poppins font-regular"
        >
            <nav class="flex flex-wrap items-center justify-between">
                <!-- Nom -->
                <div class="">
                    <h2 class="text-xl font-medium">Arthur Alletto</h2>
                </div>

                <!-- Navigation Buttons -->
                <div class="hidden uppercase md:flex gap-8">
                    <a
                        class="relative font-regular border-transparent border-2 hover:border-black bg-transparent py-2 px-6 uppercase text-black transition-colors before:absolute before:left-0 before:top-0 before:-z-10 before:h-full before:w-full before:origin-bottom-left before:scale-y-0 before:bg-black before:transition-transform before:duration-300 before:content-[''] hover:text-white before:hover:scale-y-100 hover-target"
                        href="/"
                    >
                        accueil
                    </a>
                    <a
                        class="relative font-regular border-transparent border-2 hover:border-black bg-transparent py-2 px-6 uppercase text-black transition-colors before:absolute before:left-0 before:top-0 before:-z-10 before:h-full before:w-full before:origin-bottom-left before:scale-y-0 before:bg-black before:transition-transform before:duration-300 before:content-[''] hover:text-white before:hover:scale-y-100 hover-target"
                        href="/blog/"
                    >
                        mes projets
                    </a>
                    <a
                        class="relative font-regular border-transparent border-2 hover:border-black bg-transparent py-2 px-6 uppercase text-black transition-colors before:absolute before:left-0 before:top-0 before:-z-10 before:h-full before:w-full before:origin-bottom-left before:scale-y-0 before:bg-black before:transition-transform before:duration-300 before:content-[''] hover:text-white before:hover:scale-y-100 hover-target"
                        href="/about/"
                    >
                        à propos de moi
                    </a>
                </div>

                <!-- Contact -->
                <div class="flex items-center gap-2">
                    <a
                        class="up-effect"
                        href="https://www.behance.net/mystic_all/projects"
                    >
                        <img class="w-10" src="/assets/behance.svg" alt="" />
                    </a>

                    <a
                        class="up-effect"
                        href="https://www.linkedin.com/in/arthur-alletto-8a2028259/"
                    >
                        <img class="w-10" src="/assets/linkedin.svg" alt="" />
                    </a>

                    <a class="up-effect" href="mailto:arthur.alletto@etu.unilim.fr">
                        <img class="w-10" src="/assets/mail.svg" alt="" />
                    </a>
                </div>

                <!-- Burger Menu for Mobile -->
                <!-- <div class="md:hidden flex items-center">
                    <button id="burger" class="focus:outline-none">
                        <span class="block w-8 h-1 bg-black mb-1"></span>
                        <span class="block w-8 h-1 bg-black mb-1"></span>
                        <span class="block w-8 h-1 bg-black"></span>
                    </button>
                </div> -->
            </nav>

            <!-- Mobile Menu (Hidden by Default) -->
            <!-- <div
                id="mobile-menu"
                class="hidden md:hidden flex flex-col items-center bg-gray-100 py-4"
            >
                <a
                    href="#"
                    class="text-black py-2 px-4 hover:text-white hover:bg-black rounded transition"
                    >Home</a
                >
                <a
                    href="#"
                    class="text-black py-2 px-4 hover:text-white hover:bg-black rounded transition"
                    >About</a
                >
                <a
                    href="#"
                    class="text-black py-2 px-4 hover:text-white hover:bg-black rounded transition"
                    >Services</a
                >
            </div> -->
        </header>

        <section
            class="container flex flex-col font-poppins font-regular gap-20 px-52"
        >
            <!-- Description et photo -->
            <div class="flex py-20 gap-24 border-b-2 border-black">
                <div class="flex flex-col gap-8 justify-center">
                    <h3 class="font-lato text-5xl font-semibold">
                        Bonjour, je suis ARTHUR
                    </h3>
                    <p class="text-lg font-regular">
                        Étudiant en 3ᵉ année de MMI à Limoges parcours "Création
                        numérique", passionné par la création visuelle, le
                        motion design, et l'UX/UI design.
                    </p>
                    <p class="text-lg font-semibold">
                        Localisation : Bergerac, Dordogne
                    </p>
                    <div class="flex font-poppins">
                        <a
                            class="relative border-2 border-black bg-transparent py-2 px-5 uppercase text-black transition-colors before:absolute before:left-0 before:top-0 before:-z-10 before:h-full before:w-full before:origin-bottom-left before:scale-y-0 before:bg-black before:transition-transform before:duration-300 before:content-[''] hover:text-white before:hover:scale-y-100 hover-target"
                            href=""
                        >
                            télécharger mon cv
                        </a>
                    </div>
                </div>
                <img
                    src="/assets/moi.png"
                    alt="Arthur Alletto"
                    class="scale-effect rounded-xl w-72 shadow-2xl"
                />
            </div>
            <!-- Compétences -->
            <div class="flex flex-col items-center justify-center text-center rounded-3xl">
                <h3 class="font-lato text-5xl font-semibold uppercase">
                    Compétences
                </h3>
                <div class="flex flex-row gap-12 py-20 w-full border-b-2 border-black">
                    <div class="flex flex-col flex-1 gap-6 py-12 scale-effect border-transparent border-2 px-6 rounded-xl shadow-2xl transition duration-300">
                        <h4 class="font-poppins font-semibold text-xl">Graphisme / Illustration</h4>
                        <div class="flex justify-center items-center gap-2">
                            <img src="/assets/photoshop.png" class="h-20" />    
                            <img src="/assets/illustrator.png" class="h-20" />
                        </div>
                    </div>
            
                    <div class="flex flex-col flex-1 gap-6 py-12 scale-effect border-transparent border-2 px-6 rounded-xl shadow-2xl transition duration-300">
                        <h4 class="font-poppins font-semibold text-xl">Motion Design</h4>
                        <div class="flex justify-center items-center gap-2">
                            <img src="/assets/aftereffect.png" class="h-20" />
                        </div>
                    </div>
            
                    <div class="flex flex-col flex-1 gap-6 py-12 scale-effect border-transparent border-2 px-6 rounded-xl shadow-2xl transition duration-300">
                        <h4 class="font-poppins font-semibold text-xl">Intégration WEB</h4>
                        <div class="flex justify-center items-center gap-2">
                            <img src="/assets/html.png" class="h-20" />
                            <img src="/assets/css.png" class="h-20" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Expériences professionnelles -->

            <div class="flex flex-col items-center justify-center text-center rounded-3xl">
                <h3 class="font-lato text-5xl font-semibold uppercase">
                    Expériences professionnelles
                </h3>
                <div class="flex flex-col py-20 w-full">
                    <div class="flex justify-between gap-5 items-center p-6 rounded-xl shadow-2xl up-effect">
                        <div>
                            <img src="/assets/logo-alliance.png" alt="Image" class="rounded-xl w-52">
                        </div>
                        <div class="text-center">
                            <h4 class="font-poppins font-semibold text-xl">Alliance EXPO</h4>
                            <p class="font-poppins text-lg">Stagiaire</p>
                        </div>
                        <div class="text-center">
                            <p class="font-poppins text-lg">08 Avril - 31 Mai</p>
                        </div>
                    </div>
                    <!-- Ajoutez d'autres expériences ici -->
                </div>
        </section>

        <script>
            // Curseur avec effet de vitesse et rebond basé sur des délais
            const root = document.documentElement;
            const cursor = document.querySelector(".custom-cursor");

            root.addEventListener("mousemove", (event) => {
                const x = event.clientX;
                const y = event.clientY;    

                root.style.setProperty("--mouse-x", x + "px");
                root.style.setProperty("--mouse-y", y + "px");
            });
        </script>
    </body>
</html>
