---
const pageTitle = "Mon blog d'apprentissage";
---
<html lang="fr">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    <link
			href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DynaPuff:wdth,wght@75..100,400..700&display=swap"
			rel="stylesheet"
		/>
  </head>
  <body>
    <header class="flex w-full fixed py-[2%] px-[5%]">
      <div class="w-1/2">
        <a class="font-dmsans font-medium" href="/">ACCUEIL</a>
      </div>
      <div class="flex w-1/2 justify-end">
        <a class="font-dmsans font-medium" href="/about/"
          >À PROPOS DE MOI</a
        >
      </div>
    </header>
    <section>
      
    </section>
   
  </body>
</html>