---
const pageTitle = "Page d'accueil";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{pageTitle}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DynaPuff:wdth,wght@75..100,400..700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body class="">
		<div class="h-screen">
			<header class="flex w-full fixed py-6 px-14">
				<div class="w-1/2">
					<a
						class="font-dmsans cursor-none uppercase font-medium"
						href="/">accueil</a
					>
				</div>
				<div class="flex w-1/2 justify-end">
					<a
						class="font-dmsans cursor-none font-medium uppercase hover-target"
						href="/about/"
					>
						à propos de moi
					</a>
				</div>
			</header>
			<section class=""></section>
		</div>
	</body>
</html>
