---
const pageTitle = "Page d'accueil";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{pageTitle}</title>
		<link
			href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DynaPuff:wdth,wght@75..100,400..700&display=swap"
			rel="stylesheet"
		/>
		<style>
			/* Curseur personnalisé */
			.custom-cursor {
				--left: calc(var(--mouse-x) - 10px);
				--top: calc(var(--mouse-y) - 10px);
				width: 30px;
				height: 30px;
				background-color: black;
				translate: var(--left) var(--top);
				transition: 0.1s ease-out;
				border-radius: 100%;
				position: absolute;
			}
			.magnet-effect {
				transition: transform 0.3s ease;
			}
			.magnet-effect:hover {
				transform: translateY(-5px);
			}
		</style>
	</head>
	<body class="cursor-none">
		<div class="custom-cursor"></div>
		<div class="h-screen">
			<header
				class="flex w-full fixed py-7 px-14 justify-between flex-wrap gap-6"
			>
				<div class="py-2 px-5">
					<h2 class="font-dmsans font-medium">ARTHUR ALLETTO</h2>
				</div>
				<div class="flex items-center gap-2">
					<a
						class="cursor-none magnet-effect"
						href="https://www.behance.net/mystic_all/projects"
						><img
							class="w-10"
							src="/assets/behance.svg"
							alt=""
						/></a
					>
					<a
						class="cursor-none magnet-effect"
						href="https://www.linkedin.com/in/arthur-alletto-8a2028259/"
						><img
							class="w-10"
							src="/assets/linkedin.svg"
							alt=""
						/></a
					>
					<a class="cursor-none magnet-effect" href=""
						><img class="w-10" src="/assets/insta.svg" alt="" /></a
					>
				</div>
				<div class="flex">
					<a
						class="cursor-none relative border-2 font-dmsans font-regular border-black bg-transparent py-2 px-5 uppercase text-black transition-colors before:absolute before:left-0 before:top-0 before:-z-10 before:h-full before:w-full before:origin-bottom-left before:scale-y-0 before:bg-black before:transition-transform before:duration-300 before:content-[''] hover:text-white before:hover:scale-y-100 hover-target"
						href="/about/"
					>
						à propos de moi
					</a>
				</div>
			</header>
			<section
				class="flex flex-col h-full justify-center items-center font-dmsans font-medium"
			>
				<h2 class="tracking-widest text-base uppercase">
					graphic designer / motion designer
				</h2>
				<h1 class="font-dynapuff font-black text-8xl uppercase">
					portfolio
				</h1>
				<a
					class="cursor-none relative mt-5 border-2 font-dmsans font-regular border-black bg-transparent py-2 px-6 uppercase text-black transition-colors before:absolute before:left-0 before:top-0 before:-z-10 before:h-full before:w-full before:origin-bottom-left before:scale-y-0 before:bg-black before:transition-transform before:duration-300 before:content-[''] hover:text-white before:hover:scale-y-100 hover-target"
					href="/blog/"
				>
					entrer
				</a>
			</section>
		</div>

		<!-- Curseur personnalisé -->

		<script>
			// Curseur avec effet de vitesse et rebond basé sur des délais
			const root = document.documentElement;
			const cursor = document.querySelector(".custom-cursor");

			root.addEventListener("mousemove", (event) => {
				const x = event.clientX;
				const y = event.clientY;

				root.style.setProperty("--mouse-x", x + "px");
				root.style.setProperty("--mouse-y", y + "px");
			});
		</script>
	</body>
</html>
