---
const pageTitle = "Page d'accueil";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<header class="flex">
				<h1>ARTHUR ALLETTO</h1>
				<a class="border-solid border-2" href="/about/">À propos de moi</a>
		</header>

		<a href="/blog/">Mes Projets</a>

		<h1>Mon blog d'apprentissage Astro</h1>
	</body>
</html>